<!DOCTYPE html>
<html>
<head>
    <style>
        #navbar ul{
        padding:5px;
list-style-type:none;
text-align:center;
background-color:#f93822ff;
margin:30px;
border-radius:5px;
}
#navbar ul li{
display:inline; 
}

#navbar ul li a{
text-decoration:none;
font-family:Arial;

padding: .2em 9em;
color:#fff;
background-color:#f93822ff;
}
#navbar ul li a:hover{
color:#000;
background-color:#FFD700;
}

#navbar ul li a:active{
color:#000;
background-color:#fff;
}


    </style>
</head>
<body style="background-color:#FFD700">
    
    
    
 
    <div id="navbar">
     <ul>
      <li><a href="/Doctor/doclogin/bcancer"><b>Breast Cancer</b></a></li>   
      <li><a href="/Doctor/doclogin/dia"><b>Diabetes</b></a></li>
      <li><a href="/Doctor/doclogin/heart"><b>Heart</b></a></li>
      <li><a href="/"><b>Log Out</b></a></li>
     </ul>
    </div>

</html>